*{ 
    margin:0px;
    padding:0px;
}


.flex-across{ 
    display:flex;
}

.padding-10px{ 
    padding:10px;
}

.flex-space-between{ 
    justify-content:space-between;
}
.flex-basis-300px{ 
    flex-basis: 300px;
}

.color-theme-nav{ 
    background-color: #171717;
}

.color-theme-chat{ 
    background-color: #212121;
}

.img-height-50px{ 
    height:25px;
    width:auto;
}

.color-black{ 
    color:white;
    background-color:#171717; 

}

button{ 
    border:none;
    

}

.color-white{ 
    color:white;
}

.height-full{ 
    height: 100vh;
}

.flex-column{ 
 flex-direction: column;
   

}

.height-top{ 
    height:20px;
}

.height-middle{ 
    height:100%;
    overflow-x: auto;
}

.margin-left-10px{
    margin-left:10px;
}


li { 
    margin-bottom: 5px;
}
