*{ 
    margin:0px;
    padding:0px;
}


.flex-across{ 
    display:flex;
}

.padding-10px{ 
    padding:10px;
}

.flex-space-between{ 
    justify-content:space-between;
}
.flex-basis-300px{ 
    flex-basis: 300px;
}

.color-theme-nav{ 
    background-color: #171717;
}

.color-theme-chat{ 
    background-color: #212121;
}

.img-height-50px{ 
    height:25px;
    width:auto;
}

.color-black{ 
    color:white;
    background-color:#171717; 

}

button{ 
    border:none;
    

}

.color-white{ 
    color:white;
}

.height-full{ 
    height: 100vh;
}

.flex-column{ 
 flex-direction: column;
   

}

.height-top{ 
    height:20px;
}

.height-middle{ 
    height:100%;
    overflow-x: auto;
}

.margin-left-10px{
    margin-left:10px;
}


li { 
    margin-bottom: 5px;
}

.hover-grey:hover{ 
    background-color: #212121;
    
}

.hover-green:hover{ 
    color:lightgreen;
}

.hover-red:hover{ 
    color:red;
}
.center-horizontal{ 
    margin: 0 auto;
   
}

.width-100-percent{ 
    width:100%;
}

.center-flex{ 
    justify-content: center;
    align-items: center;
}

input{
    background-color:#2F2F2F ;
    border: none;
    border-radius: 10px;
    padding: 7px;
    outline:none;
    color:white;
} 

.secondary-color-bg{ 
    background-color:#2F2F2F ;
}

.border-radius-10px{ 
    border-radius: 10px;
}

.cursor-pointer{ 
    cursor: pointer;
}


.flex-basis-90-vh{ 
    flex-basis:87vh;
}

.width-400px{ 
    width:400px;
}

.flex-start{ 
    justify-content: flex-start;
}

.width-90-percent{ 
width:90%;
}

.width-50-percent{ 
    width:90%;
}

.text-align-right{ 
    text-align: right;
}


.margin-50-percent-left{ 
    margin-left:40%;
}


.overflow-y{ 
    overflow-x: hidden;
    overflow-y: auto;
    
}

.margin-bottom-10px{ 
    margin-bottom: 10px;
}

.margin-top-10px{ 
    margin-top:10px;
}

.width-300px{ 
    width:300px;
}

.z-index-10{ 
    position:absolute;
    z-index: 10;
}
